
Новое оформление объектов


Матвей
Назаревич
HTML
CSS
12345678910111213141516171819202122232425262728293031323334
header {
    background-color: navy;
    padding: 10px;
}

header a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;

Результат


Пропустить уровень и попросить помощи учителя
Публикация страницы
Опубликуй страницу, с которой работал на уроке в GitHub Pages.
ЗАДАЧИ ПРОВЕРИТ ПРЕПОДАВАТЕЛЬ
Файл со стилями
